@{
    ViewData["Title"] = "Category";
}
<h1>@ViewData["Title"]</h1>

<p>Here you can see your all categories.</p>

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-outline-dark" asp-controller="Category" asp-action="Create">New Category</a>
    </div>
</div>
